<app-navbar></app-navbar>
<div class="container">
    <div class="title">
        <div class="decoration">Nuestra info</div>Contacto.
    </div>
    <div class="contact">
        <div id="map"></div>
        <div class="info">
            <ul>
                <li><label>Dirección: </label>Rodlfo Lopez 2676, Quilmes, BsAs</li>
                <li><label>Teléfono: </label>(11) 44802 1243</li>
                <li><label>Email: </label> pushup@gmail.com</li>
                <li><label>Horarios: </label>Lun a Vie 8am a 22pm, Sáb 10am a 12pm / 4pm a 8pm</li>
                <li><label>Buscanos también</label>
                    <div class="social-link"><a target="_blank" href=""><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-instagram">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line>
                            </svg>
                            Instagram</a></div>
                    <div class="social-link"><a target="_blank" href="#"><svg xmlns=""
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-facebook facebook">
                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                            </svg>
                            Facebook</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
