<app-navbar></app-navbar>
<div class="container">
    <div class="">
      <h1 class="jumbotron-heading3">COMUNICATE CON NOSOTROS </h1>
      
        <hr>
        <img src="https://cdn-icons.flaticon.com/png/512/3421/premium/3421853.png?token=exp=1659317042~hmac=ee047fa17e36ef193871eebe7dae6429" alt=""   height="30px" align="left">
        
        <h1 class="jumbotron-heading2">Encontranos en: Rodolfo Lopez 2623, Quilmes </h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.8875278762835!2d-58.29021519999999!3d-34.7332293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32ddce6c3497d%3A0xfd6fed499efe4446!2sRodolfo%20L%C3%B3pez%202623%2C%20Quilmes%20Oeste%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1659314708529!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
        <hr>
        <br>
        <img src="https://cdn-icons-png.flaticon.com/512/481/481659.png" alt=""   height="30px" align="left">
          <h1 class="jumbotron-heading2">Contactanos por correo al:pushup@gmail.com </h1>
        
        <br>

        
    </div>

    <br>
</div>
