

<nav class="navbar navbar-dark bg-dark ">
   
    
    <header class="container d-flex justify-content-between">
        <div>
        
            <img src="https://i.ibb.co/C8D3N4M/pngegg-1.png"  height="50px">
            <a class="navbar-brand" href="#">PUSH UP</a>
        </div>
        
   
  
        <ul class="nav nav-pills">
  
            <li class="nav-item ">
                <a class="nav-link " [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
            </li>
  
            <li class="nav-item ">
              <a class="nav-link " [routerLink]="['/contacto']" routerLinkActive="router-link-active" >Contacto</a>
          </li>
  
            
        </ul>
        <ul>
            <button class="btn btn-outline-light my-2 my-sm-0" [routerLink]="['/signin']" routerLinkActive="router-link-active">Registrarse</button>
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Sesión</button>
        
        </ul>
        
        
    </header>
  </nav>
