<app-menu-admin></app-menu-admin>
<div class="form-tablas" id= "clases">

    <div class="row">
        <div class="align-items-center p-1 ">
            <h1 class="mb-1 text-center">Productos:  </h1> 

            <br>
        </div>
        
        <div class="row align-items p-3">
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/nuevo']" >Agregar producto</button>

        
        </div>
    <br>
    <br>
    </div>
    
   

    
    
    <div class="row align-items-center p-3 ">
        <br>
        <div class=" p-1   d-flex justify-content-center">
            
            <label>Filtro:</label>
            <div class="col-sm-7">
                <input id="filter" [(ngModel)]="filter">
            </div>
            
        </div>
        

        <table class="table" id="tabla-Prod" >
            <thead>
            <tr>
                
                <th scope="col">Nombre:</th>
                <th scope="col">Descripcion:</th>
                <th scope="col">Precio: </th>
                <th scope="col">Categoria: </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="tableProd">
                <tr *ngFor="let item of Productos | filtro:filter"  >
                    
                    <td>
                        <label *ngIf="modificar!=item.id"><td>{{item.nombre}}</td></label>
                        <input *ngIf="modificar==item.id" type="text" class="form-control" id="txtProd"  [(ngModel)]="item.nombre" name="Prod{{item.nombre}}">
                    </td>
                
                    <td>
                        <label *ngIf="modificar!=item.id"><td>{{item.descrip}}</td></label>
                        <input *ngIf="modificar==item.id" type="text" class="form-control" id="txtDesc"  [(ngModel)]="item.descrip" name="Desc{{item.descrip}}">
                    </td>
        
                    <td>
                        <label *ngIf="modificar!=item.id"><td>{{item.precio}}</td></label>
                        <input *ngIf="modificar==item.id" type="text" class="form-control" id="txtPrecio"  [(ngModel)]="item.precio" name="Precio{{item.precio}}" >
                    </td>
                
                    <td>
                        <label *ngIf="modificar!=item.id"> <td>{{item.categoria}}</td></label>
                        <input *ngIf="modificar==item.id" type="text" class="form-control" id="txtCategoria"  [(ngModel)]="item.categoria" name="Categoria{{item.categoria}}" >
                    </td>
                
                
                     <td>
                         <button *ngIf="modificar!=item.id" class="btn  btn-primary modificacion" type="button" value="modificar"(click)="modificando(item.id)">Modificar</button>
                         <label *ngIf="modificar==item.id"></label>
                    </td>
                    <td>
                        <button *ngIf="modificar!=item.id" class="btn  btn-danger modificacion" type="button" (click)=borrar(item.id) >Borrar</button>
                        <button  *ngIf="modificar==item.id"class="btn  btn-success modificacion" type="button" value="guardar" (click)="guardar(item.nombre,item.descrip,item.precio,item.categoria,item.id)">Guardar</button>
                    </td>
                
                                
                   
    
                </tr> 
            
                
            </tbody>
        

        </table>

    </div>
    <div  id="cartel" >
                <p id="respuesta">{{alerta}}</p>
    </div>

</div> 
